@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
* {
  font-family: 'Gilroy', sans-serif;
}
body {
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.logo {
  position: relative;
  width: 158px;
  height: 158px;
  margin: 20px auto 0;
  overflow: visible;
}
.logo *{
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo div{
  z-index: 1; /* Изображение на заднем плане */
  width: 156px;
  height: 156px;
  background: linear-gradient(180deg, rgba(94, 120, 255, 0.2) 0%, rgba(212, 94, 255, 0.2) 100%);
  border-radius: 100%;
  filter: blur(15px);
}

.logo img:nth-of-type(1) {
  z-index: 2; /* Изображение на втором плане */
  width: 120px;
  border-radius: 100%;

}

.logo img:nth-of-type(2) {
  z-index: 3; /* Изображение на переднем плане */
  width: 220px;
  top: 55%;
}

h1 {
  margin: 60px 0 30px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 39.62px;
}
h2 {
  font-size: 32px;
  font-weight: 500;
  margin: 26px 0 10px;
}
h3 {
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-weight: 500; 
  background: linear-gradient(-45deg, rgba(94, 120, 255) 0%, rgba(212, 94, 255) 100%);
  -webkit-background-clip: text; /* Клиппинг фона для WebKit-браузеров */
  -webkit-text-fill-color: transparent; /* Прозрачный цвет текста для WebKit-браузеров */
  background-clip: text; /* Клиппинг фона для остальных браузеров */
  color: transparent;
}
h4 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin: 26px 0 18px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.donat {
  width: 320px;
  height: 60px;
  display: flex;
  background-color: #5E78FF;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  box-shadow: 0px 10px 20px 0pxrgba(100, 100, 100, 0.20) inset;
  margin: 16px auto 28px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.sub{
  color: #626262;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-bottom: 15px;
}
.donat img {
  width: 20px;
}
.donat div {
  color: white;
  font-weight: 600;
}
a {
  color: #ec8a00;
  text-decoration: none;
}
p {
  margin: 12px 0;
  display: block;
  text-align: center;
}

.cart {
  height: 17px;
  display: inline-block;
  filter: grayscale(1);
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.new {
  margin-top: 30px;
}
.new div {
  height: 2px;
  width: 100%;
  margin: 20px auto 40px;
  background: linear-gradient(-45deg, rgba(94,120,255,1) 0%, rgba(212,94,255,1) 100%);
  border-radius: 2px;
}
.songs p, .new p{
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: #626262;
  line-height: 24px;
}
.end {
  position: relative;
  height: 60px;
  margin: 40px auto 30px;
  width: 320px;
  padding: 10px 12px;
  border-radius: 8px;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, rgba(94,120,255, 0.2) 0%, rgba(212,94,255, 0.2) 100%);
  position: relative;
  cursor: pointer;
  transition: transform 0.5s ease, opacity 0.5s ease; /* Плавные переходы для увеличения и исчезновения */
}
.end2 {
  width: 131px;
}
.candy {
  position: absolute;
  top: 10px;
  left: 12px;
  display: block;
  padding: auto;
  transition: transform 0.6s ease, opacity 0.6s ease; /* Плавные переходы для увеличения и исчезновения */
}

.candy.grow {
  left: 40%;
  transform: scale(4); /* Увеличение конфетки */
  opacity: 0; /* Исчезновение конфетки */
}

.end .text {
  font-size: 14px;
  font-weight: 500; 
  background: linear-gradient(-45deg, rgba(94, 120, 255) 0%, rgba(212, 94, 255) 100%);
  -webkit-background-clip: text; /* Клиппинг фона для WebKit-браузеров */
  -webkit-text-fill-color: transparent; /* Прозрачный цвет текста для WebKit-браузеров */
  background-clip: text; /* Клиппинг фона для остальных браузеров */
  color: transparent;
  text-align: left;
  padding-left: 30px;
}
.end .smiles {
  display: none;
}
.notification {
  text-align: center;
  width: 180px;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e4e8ff;
  color: #395aff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.notification.show {
  opacity: 1;
  visibility: visible;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
      transform: translateY(0);
  }
  to {
      opacity: 0;
      transform: translateY(50px);
  }
}
